@model AssetManagement.Models.Dto.AssetViewDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AssetViewDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastOrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastOrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPerItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysPerReorder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysPerReorder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemReorderQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemReorderQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDiscontinued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemDiscontinued)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
