@model IEnumerable<AssetManagement.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.EmpId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.EmpId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EmpId })
            </td>
        </tr>
}
    </tbody>
</table>
<button btn btn-primary id="exportButton">Export to Excel</button>

@section scripts {
    <script>
        $(document).ready(function () {
            // Add click event to the export button
            $("#exportButton").click(function () {
                // Redirect to Export action in the controller to generate Excel
                window.location.href = '@Url.Action("ExportToExcel", "Employee")';
            });
        });
    </script>
}
