@model AssetManagement.Models.Dto.ItemTypeViewDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItemTypeViewDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemType)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemTypeId }) |
    <a asp-action="Index">Back to List</a>
</div>
